.card {
  margin-bottom: $grid-gutter-width;
}

// Optional heading
.card-default {
  .card-header {
    background: theme-color(dark);
    color: #fff;

    a {
      color: #fff;
    }
  }
}

.card-header {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0;
  }
}

.card-body > :first-child {
  margin-top: 0;
}

.card-saving {
  padding: $card-spacer-x;
  background-color: $card-bg;
  border: 1px solid darken(adjust-hue(lighten(theme-color("success"), 35%), -10), 5%);;
  border-radius: $card-border-radius;
  @include box-shadow(0 1px 1px rgba(0, 0, 0, .05));
}