<a class="nav-link" href="{{Url}}" title="{{localize 'Store' 'L_StoreLocator'}}">
    <span class="fa  fa-map-marker  fa-lg" aria-hidden="true"></span>&#160;
    <span class="d-none d-lg-inline  sps--blw-hidden">{{localize 'Store' 'L_StoreLocator'}}</span>
</a>