<div data-templateid="ReturningCustomer" class="card">
    <div class="card-header text-white bg-dark">
        <h2 class="h3">{{localize 'MyAccount' 'T_ReturningCustomer'}}</h2>
    </div>
    <div class="card-body">
        {{>ReturningCustomerForms }}
    </div>
</div>
