<div class="card" data-oc-controller="Checkout.Payment" data-context="{{JsonContext}}">
	<div class="card-header text-white bg-dark">
        <h2 class="h3">{{localize 'MyAccount' 'T_PaymentMethod'}}</h2>
    </div>
    <div class="card-body">
		{{>CheckoutPayment}}
	</div>
</div>