
.sps--blw-show-block {
    display: none !important;
}
.sps--blw-show-inline-block {
    display: inline-block !important;
}
.sps--blw {
    .sps--blw-hidden {
        display: none !important;
    }
    .sps--blw-show-block {
        display: block !important;
    }
    .sps--blw-show-inline-block {
        display: inline-block !important;
    }
}