<div class="form-group">
    <div class="row">
        <div class="col-sm-9  col-md-10  col-lg-9  col-xl-10">
            <strong class="text-info  text-uppercase">{{CouponCode}}</strong>
            {{DisplayText}}
        </div>
        <div class="col-sm-3  col-md-2  col-lg-3  col-xl-2">
            <button data-qa="coupons-delete" class="btn  btn-outline-secondary  pull-right" data-oc-click="removeCoupon" data-couponcode="{{CouponCode}}">
                <span class="fa  fa-times" aria-hidden="true"></span>
                <span class="sr-only">{{localize 'General' 'B_Remove'}}</span>
            </button>
        </div>
    </div>
</div>