 <div data-templateid="OrderDetailsShippingMethod">
     <div class="card">
        <div class="card-header text-white bg-dark">
            <h2 class="h3">{{localize 'MyAccount' 'T_ShippingMethod' }}</h2>
        </div>
        <div class="card-body">
            <h2 class="h4">{{ShippingMethod.DisplayName}}</h2>
            <p>{{ShippingMethod.Cost}}</p>
        </div>
    </div>
</div>