<div data-templateid="OrderDetailsLineItems">
    <div role="table">
        <div class="row small bg-light py-2 mx-0 mb-2" role="rowgroup">
            <div class="col-12 col-md-6 p-2" role="columnheader">
                {{localize 'MyAccount' 'L_OrderLineItemProductsTitle'}}
            </div>
            <div class="col p-2" role="columnheader">
                {{localize 'MyAccount' 'L_UnitPrice'}}
            </div>
            <div class="col p-2" role="columnheader">
                {{localize 'MyAccount' 'L_Quantity'}}
            </div>
            <div class="col p-2" role="columnheader">
                {{localize 'MyAccount' 'L_Subtotal'}}
            </div>
        </div>
        {{#each LineItems}}
            {{>OrderDetailsLineItem}}
        {{/each}}
    </div>
</div>