<section data-oc-controller="Orders.CurrentOrders" aria-label="{{localize 'MyAccount' 'T_CurrentOrders' }}">
    <div class="card">
        <div class="card-header text-white bg-dark">
            <h2 class="h3">{{localize 'MyAccount' 'T_CurrentOrders' }}</h2>
        </div>
        <div class="card-body">
            {{>CurrentOrders}}
        </div>
    </div>
    {{> OrderHistoryPagination }}
</section>