
@include media-breakpoint-down(xs) {
    .pull-sm-left {
        float: left;
    }
    .pull-sm-right {
        float: right;
    }
}
@include media-breakpoint-only(md) {
    .pull-md-left {
        float: left;
    }
    .pull-md-right {
        float: right;
    }
}
@include media-breakpoint-only(lg) {
    .pull-lg-left {
        float: left;
    }
    .pull-lg-right {
        float: right;
    }
}
@include media-breakpoint-up(xl) {
    .pull-xl-left {
        float: left;
    }
    .pull-xl-right {
        float: right;
    }
}

