@model string
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="follow-us float-left">
                <h4 class="my-2">@Model</h4>
            </div>
            <f:function name="Composite.Web.Html.Template.PageTemplateFeature" xmlns:f="http://www.composite.net/ns/function/1.0">
                <f:param name="FeatureName" value="Social links" />
            </f:function>
        </div>
    </div>
</div>