<div class="col-lg-8 order-lg-12">
    <ul class="nav nav-legal float-md-right">
        {{#each OptionalLinkEntries}}
            <li class="nav-item">
                <a class="nav-link" href="{{Url}}" style="{{CssClass}}" target="{{UrlTarget}}"><span>{{DisplayName}}</span></a>
            </li>
        {{/each}}
    </ul>
</div>