<ul class="navbar-nav main-nav-sticky">
    {{#each Entries}}
        <li class="nav-item">
            <a class="nav-link" data-qa="main-menu-sticky-link" href="{{Url}}" target="{{Target}}" style="{{CssClass}}">{{DisplayName}}</a>
        </li>
    {{/each}}
</ul>